.img-box {
    margin: auto;
    margin-left: 300px;
    display: inline-flex;
     margin-top: 200px;
 
 }

 .input-box {
    float: right;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-top: 200px;
     margin-right: 350px;
     border-radius: 6px;
     background: white;
     padding-bottom: 10px;
     width: 500px;
     height: 500px;
 }

 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
 
 }
 
 .text{
     color: #007EB3;
     font-size: 35px;
     font-weight: 700;
 }
